* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

body {
    background: #FFDBDB;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    position: relative;
    font-size: 3rem;
    font-weight: bold;
    text-transform: lowercase;
    color: black;
    line-height: 1.2;
}


.cursor {
    position: absolute;
    width: 150px;
    height: 150px;
    background: black;
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.1s linear;
    mix-blend-mode: difference;
    z-index: 10;
}


a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black; /* Ou toute autre couleur souhaitée */
    text-decoration: none;
}

.x-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFDBDB;
}
.x {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
}
.x::before, .x::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 5px;
    height: 100%;
    background-color: black;
    transform: translateX(-50%) rotate(45deg);
}
.x::after {
    transform: translateX(-50%) rotate(-45deg);
}

