@font-face {
    font-family: 'Jomhuria';
    src: url('fonts/Jomhuria.ttf') format('truetype');
}

.titre1 {
    text-align: center;
    margin-top: 30%;
    font-size: 50px;
    font-family: 'Jomhuria', sans-serif;
    line-height: 0.6;
}

.bag1 {
    display: flex;
    margin: auto;
    width: 30%;
    margin-top: 40%;
    transition: transform 0.3s ease; /* Transition pour l'effet de zoom */
    margin-bottom: 15%;
}