@font-face {
    font-family: 'Kapakana';
    src: url('../../fonts/Kapakana.ttf') format('truetype');
}

body {
    background-color: #FFDBDB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.image-top-left {
    position: absolute;
    top: -12%;
    left: -4%;
    transform: rotateX(15deg);
    margin: 0px;
    width: 25%;
    animation: swing 3s infinite ease-in-out;
}

@keyframes swing {
    0% { transform: rotate(-15deg) translateX(0); }
    50% { transform: rotate(-15deg) translateX(10px); }
    100% { transform: rotate(-15deg) translateX(0); }
}

.text-container {
    position: absolute;
    text-align: center;
    left: 39%;
    top: 0%;
    align-content: center;
    font-size: 2em
}

.titre2 {
    font-family: 'Kapakana', sans-serif;
}

.content-box {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    position: relative;
    max-width: 80%;
    width: 42%
}


/* Styles pour les écrans de taille moyenne */
@media (min-width: 768px) {
    .image-top-left {
        top: -16%;
        left: -0%;
        width: 30%;
    }
}

/* Styles pour les écrans de grande taille */
@media (min-width: 1024px) {
    .image-top-left {
        top: -16%;
        left: -0%;
        width: 30%;
    }
}