@font-face {
    font-family: 'Kapakana';
    src: url('../../fonts/Kapakana.ttf') format('truetype');
}

@font-face {
    font-family: 'Jomhuria';
    src: url('../../fonts/Jomhuria.ttf') format('truetype');
}

body {
    background-color: #FFDBDB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 0;
}

.image-top-right {
    position: absolute;
    top: -2%;
    left: 90%;
    margin: 0px;
    width: 10%;
}

.image-top-left {
    position: absolute;
    top: -12%;
    left: -4%;
    transform: rotateX(15deg);
    margin: 0px;
    width: 25%;
    transform-origin: top center;
    animation: swing 3s infinite ease-in-out;
}

@keyframes swing {
    0% { transform: rotate(10deg) translateX(0); }
    50% { transform: rotate(-10deg) translateX(10px); }
    100% { transform: rotate(10deg) translateX(0); }
}

.text-container {
    text-align: end;
    position: absolute;
    left: 50%;
    top: 0%;
    align-content: center;
    font-size: 4em;
}

.text-container .titre1 {
    font-family: 'Jomhuria', sans-serif;
    font-size: 4em;
    margin: 0%;
    height: 0.8em;
}

.titre2 {
    font-family: 'Kapakana', sans-serif;
    margin: 0%;
}

.container {
    position: relative;
    top: 30%;
}

.content-box {
    position: relative;
    width: 43%;
    bottom: 45%;
    left: 49%;
    font-family: 'Jomhuria', sans-serif;
    font-size: 3em;
    text-align: end;
}

.content-box .pres1 {
    margin: 0%;
    font-size: 3.5em;
    padding: 0%;
    height: 24%;
}

.content-box .texte1 {
    margin: 0%;
    line-height: 75%;
}

.title1 {
    position: absolute;
    bottom: 15%;
    left: 15%;
    font-size: 3.5em;
    margin: 0.1%;
}

.exp1 {
    position: absolute;
    top: -2em;
    left: 0em;
    width: 16em;
    line-height: 108%;
}

.text1 {
    font-family: 'Jomhuria', sans-serif;
    position: absolute;
    bottom: 5%;
    left: 15%;
    margin: 0.1%;
    font-size: 2em;
}

.eticket {
    position: absolute;
    top: 26%;
    left: 61%;
    width: 0px;
    height: 0px;
}

.ticket1 {
    height: 70em;
}

/* Styles pour les écrans de taille moyenne */
@media (min-width: 768px) {
    .image-top-left {
        top: -16%;
        left: -0%;
        width: 30%;
    }
}

/* Styles pour les écrans de grande taille */
@media (min-width: 1024px) {
    .image-top-left {
        top: -17%;
        left: -0%;
        width: 34%;
    }
}

@media (max-width: 767px) {
    .text-container {
        font-size: 2em;
        left: 10%;
    }

    .content-box {
        width: 80%;
        left: 10%;
        font-size: 1.5em;
    }

    .text1 {
        font-size: 1.5em;
        left: 10%;
    }

    .image-top-left {
        width: 50%;
        top: -5%;
        left: 0%;
    }

    .image-top-right {
        width: 20%;
        top: 0%;
        left: 70%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .text-container {
        font-size: 3em;
        left: 20%;
    }

    .content-box {
        width: 60%;
        left: 20%;
        font-size: 2em;
    }

    .text1 {
        font-size: 2em;
        left: 20%;
    }

    .image-top-left {
        width: 35%;
        top: -10%;
        left: 5%;
    }

    .image-top-right {
        width: 15%;
        top: -2%;
        left: 80%;
    }
}

@media (min-width: 1024px) {
    .text-container {
        font-size: 4em;
        left: 50%;
    }

    .content-box {
        width: 43%;
        left: 49%;
        font-size: 3em;
    }

    .text1 {
        font-size: 2em;
        left: 15%;
    }

    .image-top-left {
        width: 34%;
        top: -17%;
        left: -0%;
    }

    .image-top-right {
        width: 10%;
        top: -2%;
        left: 90%;
    }
}

.image-top-left, .image-top-right {
    max-width: 100%;
    height: auto;
}